<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<description>临时救助</description>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>report</servlet-name>
		<servlet-class>com.mingda.report.Report</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>report</servlet-name>
		<url-pattern>/report</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>tempquery</servlet-name>
		<servlet-class>com.mingda.biz.temp.TempQuery</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>tempquery</servlet-name>
		<url-pattern>/tempquery</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>tempapprove</servlet-name>
		<servlet-class>com.mingda.biz.temp.TempApprove</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>tempapprove</servlet-name>
		<url-pattern>/tempapprove</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>tempapproveinit</servlet-name>
		<servlet-class>com.mingda.biz.temp.TempApproveInit</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>tempapproveinit</servlet-name>
		<url-pattern>/tempapproveinit</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>tempapplyquery</servlet-name>
		<servlet-class>com.mingda.biz.temp.TempApplyQuery</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>tempapplyquery</servlet-name>
		<url-pattern>/tempapplyquery</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>tempapplyinfo</servlet-name>
		<servlet-class>com.mingda.biz.temp.TempApplyInfo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>tempapplyinfo</servlet-name>
		<url-pattern>/tempapplyinfo</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>tempapply</servlet-name>
		<servlet-class>com.mingda.biz.temp.TempApply</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>tempapply</servlet-name>
		<url-pattern>/tempapply</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>tempapprovequery</servlet-name>
		<servlet-class>com.mingda.biz.temp.TempApproveQuery</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>tempapprovequery</servlet-name>
		<url-pattern>/tempapprovequery</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>tempapproveendquery</servlet-name>
		<servlet-class>com.mingda.biz.temp.TempApproveEndQuery</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>tempapproveendquery</servlet-name>
		<url-pattern>/tempapproveendquery</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>tempapproveend</servlet-name>
		<servlet-class>com.mingda.biz.temp.TempApproveEnd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>tempapproveend</servlet-name>
		<url-pattern>/tempapproveend</url-pattern>
	</servlet-mapping>
</web-app>