<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<description>临时救助</description>
	<welcome-file-list>
		<welcome-file>page/biz/tempapply.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>report</servlet-name>
		<servlet-class>com.mingda.report.Report</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>report</servlet-name>
		<url-pattern>/report</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>tempquery</servlet-name>
		<servlet-class>com.mingda.biz.temp.TempQuery</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>tempquery</servlet-name>
		<url-pattern>/tempquery</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>tempapprove</servlet-name>
		<servlet-class>com.mingda.biz.temp.TempApprove</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>tempapprove</servlet-name>
		<url-pattern>/tempapprove</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>tempapproveinfo</servlet-name>
		<servlet-class>com.mingda.biz.temp.TempApproveInfo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>tempapproveinfo</servlet-name>
		<url-pattern>/tempapproveinfo</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>tempapplyview</servlet-name>
		<jsp-file>/page/biz/test.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>tempapplyview</servlet-name>
		<url-pattern>/tempapplyview</url-pattern>
	</servlet-mapping>
</web-app>